.card {
    background-color: var(--brown-highlighted);
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: var(--border-radius);
    gap: 16px;

    p {
        margin: 4px;
    }

}


.cover-picture {
    width: 86px;
    height: 86px;
    background-color: var(--orange);
    border-radius: var(--border-radius);
}

.release-title {
    color: var(--orange)
}