:root {

  /* ---- Color tokens --- */
  --white: #ffffff;
  --black: #181818;
  --light-gray: #fafafa;
  --gray: #e9e9eb;
  --brown: #15100C;
  --brown-highlighted: #211C18;
  --brown-selected: #362115;
  --light-brown: #AFA699;
  --light-brown-highlighted: #D0C4B6;
  --light-brown-selected: #EEE4D3;
  --orange: #C56A3E;



  /* ---- base block CSS attributes--- */
  --page-background-color: var(--brown);
  --border: solid 1px var(--brown-selected);

}