:root {
  --white: #ffffff;
  --black: #181818;
  --gray: #e9e9eb;
  --border-radius: 10px;
  --border: solid 1px var(--gray);
  --box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px;
}


html,
body {
  color: var(--black);
  background-color: var(--white);
  max-width: 100vw;
}

.btn {
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--black);
}