.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 0;
    overflow: hidden;
    background-color: var(--page-background-color);
}

.page-layout {
    display: flex;
    flex: 1;
    min-height: 0;
}

.empty-left-panel {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    width: 25%;
    border-right: var(--border)
}

.empty-content {
    flex: 1;
    overflow-y: auto;
}